
h1
{
    font-size: 20px; 

    font-style: italic;
    
}

#carte
{
    font-family: 'Times New Roman', Times, serif;
}


#fondecran {
 
 background-image:url(arriereplan.jpg);
 
 min-width: 100%;
 min-height: 100%;
}
