
h1
{
    font-size: 20px; 

    font-style: italic;
    
}

#carte
{
    font-family: 'Times New Roman', Times, serif;
}


#fondecran {
 
 position: fixed; 
 top: 0; 
 left: 0; 
 
 min-width: 100%;
 min-height: 100%;
}
