
h1
{
    font-size: 20px; 

    font-style: italic;
    
}

#carte
{
    font-family: 'Times New Roman', Times, serif;
}


body{
 
 background-image:url(arriereplan.jpg);
 
width: 50%;
height: 50%;
}
