.cadre-diapo{

    max-width:800px;
    min-height: 400px;
    max-height: 600px; 
    position: relative
    
        }
        
        
    .diapo {
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    top: 50%;
    transition: opacity 1s;
    width: 100%;
    max-width: 600px;
    
        
    }
        
    
     button{
        
    border: none;
    cursor: pointer
        
        }
        
    .precedent,
    .suivant{
    
    color: silver;
    transition: color .1000000000000000s linear;
    transform: translatey(-50%);
    top: 50%;
    padding: .5rem;
    font-size: 2rem;
    background: white;
    position: absolute
    
        }
    
    .precedent{left:0}
    .suivant{right:0}
        
    .precedent:hover,
    .suivant:hover{
    
    color: black
    
    }
        
    .numeros{
    transition: background .100000000000000s linear;
    color: white;
    background: #7A5FFF
        
        }
        
    .cadre-demo{
    
    display: flex;
    justify-content: center;
    
    }

    table
{
    border-collapse: collapse;
}
td, th
{
    border: 1px solid black;
}
body{
 
 background-image:url(../arriereplan.jpg);
  display: block;
  margin-left: auto;
  margin-right: auto;
width: 2000px;
height: 1000px;
}
